---
---

label {
  font: normal 12px Roboto;
  color: #000000;
  position: relative;
  display: flex;
  flex-direction: row;
}

input {
  height: relative;
  width: inherit;
}

.formulario {
  padding: 0;
  border-top: 1px solid #000000;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-radius: 20px;
}

.labeltitulo {
  padding-top: 1em;
}

.formularioTitulo {
  padding: 1em;
  height: inherit;
  width: 564px;
}

.formularioImagens {
  padding-top: 1em;
}

.inputImage {
  font: normal 16px Roboto;
    text-decoration: none;
    padding: 14px 43px 14px 43px;
    background-color: #ffffff;
    color: #000000;
    border-top: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-left: 1px solid #cccccc;
    border-radius: 8px;
    
}

.formularioAutores {
  padding-top: 1em;
}

.formularioTags {
  padding-top: 1em;
}

.formularioDescricao {
  padding-top: 1em;
}

.cancelButton {
    font: normal 16px Roboto;
    text-decoration: none;
    background-color: #ffffff;
    color: #7a5cfa;
    padding: 14px 43px 14px 43px;
    border-top: 1px solid #7a5cfa;
    border-right: 1px solid #7a5cfa;
    border-bottom: 1px solid #7a5cfa;
    border-left: 1px solid #7a5cfa;
    border-radius: 8px;
  }

  /* Configurações para quando o mouse passar sobre o botão*/
  .cancelButton:hover {
    font: normal 16px Roboto;
    text-decoration: none;
    background-color: #e9e9e9;
    color: #000000;
    padding: 14px 43px 14px 43px;
    border-top: 1px solid #7a5cfa;
    border-right: 1px solid #7a5cfa;
    border-bottom: 1px solid #7a5cfa;
    border-left: 1px solid #7a5cfa;
    border-radius: 8px;
  }

  .submit {
    font: normal 16px Roboto;
    text-decoration: none;
    background-color: #7a5cfa;
    color: #ffffff;
    padding: 14px 52.5px 14px 52.5px;
    border-top: 1px solid #7a5cfa;
    border-right: 1px solid #7a5cfa;
    border-bottom: 1px solid #7a5cfa;
    border-left: 1px solid #7a5cfa;
    border-radius: 8px;
    position: relative;
    //top: -60px;
    //right: -850px;
  }

  .submit:hover {
    font: normal 16px Roboto;
    text-decoration: none;
    background-color: #795cfae3;
    color: #000000;
    padding: 14px 52.5px 14px 52.5px;
    border-top: 1px solid #7a5cfa;
    border-right: 1px solid #7a5cfa;
    border-bottom: 1px solid #7a5cfa;
    border-left: 1px solid #7a5cfa;
    border-radius: 8px;
  }