<label for="titulo">Título</label>
<input type="text" id="tituloNoticia" name="titulo" required minlength="10" maxlength="100" size="10" />

<label for="imagem">Imagem</label>
<input type="file" accept="image/*" name="arquivoImagem"/>

<label for="autores">Autores</label>
<input type="text" id="autoresNoticia" name="autores" required minlength="0" maxlength="100" size="10" />

<label for="tags">Tags</label>
<input type="text" id="tagsNoticia" name="tags" required minlength="0" maxlength="100" size="10" />

<label for="descricao">Descrição</label>
<input type="text" id="descricaoNoticia" name="descricao" required minlength="0" maxlength="500" size="50" />

<input type="submit" name="enviar"/>

<a href="http://localhost:4000/forms/" class="cancelButton">Cancelar</a>
