<head>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    </style>
</head>

<form action="" method="get" class="formulario">
    <div>
        <div class="formularioTitulo" >
            <label for="titulo" class="labelTitulo">Título</label>
            <input type="text" id="tituloNoticia" name="titulo" required minlength="10" maxlength="100" placeholder="Insira o seu título aqui" />
        </div>
        <div class="formularioImagem">
            <label for="imagem">Imagem</label>
            <input type="file" accept="image/*" name="arquivoImagem" class="inputImage"/>
        </div>
        <div class="formularioAutores">
            <label for="autores">Autores</label>
            <input type="text" id="autoresNoticia" name="autores" required minlength="0" maxlength="100" />
        </div>
        <div class="formularioTags">
            <label for="tags">Tags</label>
            <input type="text" id="tagsNoticia" name="tags" required minlength="0" maxlength="100" />
        </div>
        <div class="formularioDescricao">
            <label for="descricao">Descrição</label>
            <input type="text" id="descricaoNoticia" name="descricao" required minlength="0" maxlength="500" placeholder="Insira uma breve descrição ou biografia aqui"/>
        </div>
        
        <a href="http://localhost:4000/forms/" class="cancelButton" >Cancelar</a>
        <input type="submit" name="enviar" class = "submit"/>

    </div>
</form>
