<form action="" method="post">

    <div id="form_fields">
        <label for="titulo" class="labelName">Título </label>
        <input type="text" name="proj_titulo" id="titulo" required placeholder="Insira seu título aqui" />
        
        <label for="subtitulo" class="labelName">Subtítulo </label>
        <input type="text" name="proj_subtitulo" id="subtitulo" required placeholder="Insira seu subtítulo aqui"/>

        <label for="grupo_projeto" class="labelName">Grupo</label>
        <input list="grupos" id="grupo" name="grupo_projeto" required placeholder="Selecione seu grupo">
        <label for="filefoto" class="labelName">Imagem</label>
        <input type="file" name="filefoto" id="filefoto">

        <label for="link_projeto" class="labelName">Link do projeto</label>
        <input type="text" name="link_projeto" id = "link_input" required placeholder="https://github.com/...">

        <label for="desc_projeto" class="labelName">Descrição</label>
        <textarea name="desc_projeto" id="txt_desc_proj"></textarea>

        <div class="buttonRow">
            <button type="button" class="cancelarButton">Cancelar</button>
            <button type="button" class="enviarButton">Enviar</button>
        </div>
    </div>

    <datalist id="grupos">
        <option value="NCA"></option>
        <option value="Equatorial"></option>
    </datalist>
</form>