{% assign image = page.header | default: site.header | relative_url %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}

{% assign svg = "assets/images/logo.svg" | file_exists %}
{% assign png = "assets/images/logo.png" | file_exists %}
{% assign jpg = "assets/images/logo.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}

<header
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.url == "/" %}
    data-big
  {% endif %}
>
  <a href="{{ "/" | relative_url }}" class="home">
    {% if logo %}
      <span class="logo">
        {% if svg %}
          {{ svg | file_read }}
        {% else %}
          <img src="{{ logo | relative_url }}" alt="logo">
        {% endif %}
      </span>
    {% endif %}
  </a>

  <input class="nav-toggle" type="checkbox" aria-label="show/hide nav">

  <nav class="nav-header ">
    {% assign pages = site.pages
      | where_exp: "page", "page.nav"
      | sort: "nav.order"
    %}
    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url }}"
          data-tooltip="{{ page.nav.tooltip }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>

  <a href="{{ "/manager" | relative_url }}">
    <span class="login">
      Log in
    </span>
  </a>

  <select class="language-selector" >
    <option>EN</option>
    <option>PT</option>
  </select>
</header>

