{% assign image = page.header | default: site.header | relative_url %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}

{% assign svg = "assets/images/logo.svg" | file_exists %}
{% assign png = "assets/images/logo.png" | file_exists %}
{% assign jpg = "assets/images/logo.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}

{% assign bandeiraBrasil = "assets/images/bandeiraBrasil.svg" | file_exists %}
{% assign bandeiraEUA = "assets/images/bandeiraEUA.svg" | file_exists %}



<header
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.url == "/" %}
    data-big
  {% endif %}
>
  <a href="{{ "/" | relative_url }}" class="home">
    {% if logo %}
      <span class="logo">
        {% if svg %}
          {{ svg | file_read }}
        {% else %}
          <img src="{{ logo | relative_url }}" alt="logo">
        {% endif %}
      </span>
    {% endif %}
  </a>

  <nav class="nav-header ">
    {% assign pages = site.pages
      | where_exp: "page", "page.nav"
      | sort: "nav.order"
    %}
    {% for page in pages %}
      {% if page.nav %}
        <a
          href="{{ page.dir | relative_url }}"
        >
          {{ page.title }}
        </a>
      {% endif %}
    {% endfor %}
  </nav>

  

  <div class="language-selector">
    <div class="selected-language">
      <img src="{{ bandeiraBrasil | relative_url }}" alt="Bandeira do Brasil">
      <span>PT</span>
      <span class="arrow-down">&#9662;</span> <!-- Adiciona a seta aqui -->
    </div>
    <ul class="language-options">
      <li data-lang="pt">
        <img src="{{ bandeiraBrasil | relative_url }}" alt="Bandeira do Brasil">
        <span>PT</span>
      </li>
      <li data-lang="en">
        <img src="{{ bandeiraEUA | relative_url }}" alt="Bandeira dos EUA">
        <span>EN</span>
      </li>
    </ul>
  </div>
  
</header>
<script>
  document.querySelector('.selected-language').addEventListener('click', function() {
  const options = document.querySelector('.language-options');
  options.style.display = options.style.display === 'none' || !options.style.display ? 'block' : 'none';
});

document.querySelectorAll('.language-options li').forEach(function(option) {
  option.addEventListener('click', function() {
    const selectedLang = document.querySelector('.selected-language');
    const img = option.querySelector('img').src;
    const lang = option.querySelector('span').innerText;

    selectedLang.querySelector('img').src = img;
    selectedLang.querySelector('span').innerText = lang;

    document.querySelector('.language-options').style.display = 'none';

    // Aqui você pode adicionar lógica para mudar o idioma da página
    const selectedLangCode = option.getAttribute('data-lang');
    console.log("Idioma selecionado:", selectedLangCode);
  });
});

</script>
