{% assign emptyarray = "" | split: "," %}

{% assign data = site.data[include.data]
  | default: site[include.data]
  | default: emptyarray
  | data_filter: include.filters
%}

{%- if include.component == "noticias" or include.component == "publicacoes" -%}
  {% assign grouped_data = data
    | group_by_exp: "d", "d.date | date: '%Y'"
    | sort: "name"
    | reverse
  %}
{%- elsif include.component == "projetos" -%}
  {% assign grouped_data = data
    | group_by: "group"
    | sort: "name"
  %}
{%- elsif include.component == "membros" -%}
  {% assign grouped_data = data
    | group_by: "role"
    | sort: "name"
  %}
{%- endif -%}

{% assign component_tags = emptyarray %}

{% if include.component == "noticias" %}
  {% for item in data %}
    {% assign item_tags = item.tags | default: emptyarray %}
    {% assign component_tags = component_tags | concat: item_tags %}
  {% endfor %}
  {% assign component_tags = component_tags | uniq %}

  <section class="noticias">
    {% include tags.html tags=component_tags %}
    {% include search-info.html %}
{% elsif include.component == "projetos" %}
  {% for item in data %}
    {% assign item_tags = item.tags | default: emptyarray %}
    {% assign component_tags = component_tags | concat: item_tags %}
  {% endfor %}
  {% assign component_tags = component_tags | uniq %}

  <section class="projetos">
    {% include tags.html tags=component_tags %}
    {% include search-info.html %}
    
{% elsif include.component == "membros" %}
  <section class="membros">
{% elsif include.component == "publicacoes" %}
  {% for item in data %}
    {% assign item_tags = item.tags | default: emptyarray %}
    {% assign component_tags = component_tags | concat: item_tags %}
  {% endfor %}
  {% assign component_tags = component_tags | uniq %}

  <section class="publicacoes">
    {% include tags.html tags=component_tags %}
    {% include search-info.html %}
{% endif %}

  {% for group in grouped_data %}
    {% assign data = group.items %}
    {% if include.component == "membros" %}
    <div class="tipoecards section" data-title="{{ group.name }}">
    {% elsif include.component != "membros" %}
    <div class="tipoecards">
    {% endif %}      
      {% if include.component == "noticias" or include.component == "publicacoes" %}
        <h3 class="ano">{{ group.name }}</h3> 
      {% elsif include.component == "projetos" %}
        <h3 class="group">{{ group.name }}</h3> 
      {% elsif include.component == "membros" %}
        <h3 class="role">{{ group.name }}</h3> 
      {% endif %}

      {% if include.component == "noticias" %}
        <div class="cardsnoticias">
      {% elsif include.component == "projetos" %}
        <div class="cardsprojetos">
      {% elsif include.component == "membros" %}
        <div class="cardsmembros">
      {% elsif include.component == "publicacoes" %}
        <div class="cardspublicacoes">
      {% endif %}

      {% for d in data %}
        {% assign style = d.style | default: include.style %}
        
        {%
          include {{ include.component | append: ".html" }}
          affiliation=d.affiliation
          author=d.author
          authors=d.authors
          buttons=d.buttons
          caption=d.caption
          content=d.content
          date=d.date
          description=d.description
          excerpt=d.excerpt
          height=d.height
          icon=d.icon
          id=d.id
          image=d.image
          last_modified_at=d.last_modified_at
          link=d.link
          lookup=d.lookup
          name=d.name
          publisher=d.publisher
          repo=d.repo
          role=d.role
          slug=d.slug
          style=style
          subtitle=d.subtitle
          tags=d.tags
          text=d.text
          title=d.title
          tooltip=d.tooltip
          type=d.type
          url=d.url
          width=d.width
        %}
      {% endfor %}

      </div> 
    </div> 
  {% endfor %}

</section> 
