{% assign filename = page.path | split: "/" | last %}
{% if page.name and page.name != filename %}
  {% assign title = page.name %}
{% elsif page.title %}
  {% assign title = page.title %}
{% else %}
  {% assign title = nil %}
{% endif %}

{% assign fulltitle = "" | split: "," %}
{% if title %}
  {% assign fulltitle = fulltitle | push: title %}
{% endif %}
{% if site.title %}
  {% assign fulltitle = fulltitle | push: site.title %}
{% endif %}
{% assign fulltitle = fulltitle | join: " | " %}

{% assign subtitle = site.subtitle %}

{% assign description = page.description | default: site.description %}
{% if site.subtitle %}
  {% capture description -%}
    {{ site.subtitle }}. {{ description }}
  {%- endcapture %}
{% endif %}
{% capture url -%}
  {{ site.url }}{{ site.baseurl }}
{%- endcapture %}

{% assign png = "assets/images/icon.png" | file_exists %}
{% assign jpg = "assets/images/icon.jpg" | file_exists %}
{% assign icon = png | default: jpg | relative_url %}

{% assign jpg = "assets/images/share.jpg" | file_exists %}
{% assign png = "assets/images/share.png" | file_exists %}
{% assign share = jpg | default: png | relative_url %}

{% assign published = page.date | date_to_xmlschema %}
{% assign updated = page.last_modified_at | date_to_xmlschema %}

{% assign feed = "feed.xml" | absolute_url %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>{{ fulltitle }}</title>

<link rel="icon" href="{{ icon }}">

<meta name="title" content="{{ title }}">
<meta name="description" content="{{ description }}">
