<link 
  href="https://cdn.jsdelivr.net/gh/StylishThemes/Syntax-Themes/pygments/css-github/pygments-tomorrow-night-eighties.css"
  rel="stylesheet"
>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<!-- include all sass in styles folder -->
{% assign styles = site.pages
  | where_exp: "file", "file.url contains 'assets/css'"
%}
{% for style in styles %}
  {% unless style.url contains ".map" %}
    <link
      href="{{ style.path | replace: ".scss", ".css" | relative_url }}"
      rel="stylesheet"
    >
  {% endunless %}
{% endfor %}

<!-- include all css in styles folder -->
{% assign styles = site.static_files
  | where_exp: "file",
    "file.path contains 'assets/css' and file.path contains '.css'"
%}
{% for style in styles %}
  <link href="{{ style.path | relative_url }}" rel="stylesheet" />
{% endfor %}