{% assign tags = include.tags
  | object_items
  | join: ","
  | downcase
  | split: ","
  | array_filter
  | join: ","
  | regex_replace: "\s+", "-"
  | split: ","
  | uniq
%}
<!--{% assign link = include.link | default: page.dir | absolute_url %}-->

{% assign link = include.link | default: page.dir | prepend: "http://localhost:4000" %}
{% if tags.size > 0 or include.repo %}
  <div
    class="tags"
    id="{% if page.title == 'Noticias' %}tagnoticia{% elsif page.title == 'Publicações' %}tagpublicacoes{% elsif page.title == 'Projetos' %}tagprojeto{% endif %}"

    {% if include.repo %}
      data-repo="{{ include.repo }}"
    {% endif %}
    {% if link %}
      data-link="{{ link }}"
    {% endif %}
  >
    {% for tag in tags %}
      <a
        href="{{ site.repo }}{{ link }}?search=&quot;tag: {{ tag }}&quot;"
        class="tag"
      >
        {{ tag }}
      </a>
    {% endfor %}
  </div>
{% endif %}
