.container {
    display: flex;
    width: 800px; /* Largura fixa para o container */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: 300px;
    margin-bottom: 20px; /* Espaço entre os containers */
}

/* Layout padrão: imagem à esquerda, texto à direita */
.image-left {
    display: flex;
}

.image-left .image-container {
    width: 40%; /* Imagem ocupa 30% do espaço */
    display: flex;
    align-items: center;
}

.image-left .text-container {
    width: 60%; /* Texto ocupa 70% do espaço */
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Layout alternativo: imagem à direita, texto à esquerda */
.image-right {
    display: flex;
    flex-direction: row-reverse; /* Inverte a ordem: imagem à direita, texto à esquerda */
}

.image-right .image-container {
    width: 40%; /* Imagem ocupa 30% do espaço */
}

.image-right .text-container {
    width: 60%; /* Texto ocupa 70% do espaço */
    padding-right: 20px; /* Espaço entre o texto e a imagem quando a imagem está à direita */
}

/* Estilos comuns a ambos os layouts */
.image-container img {
    width: 100%; /* A imagem vai ocupar 100% da largura do container */
    height: auto; /* Mantém a proporção original da imagem */
    object-fit: cover; /* Ajusta a imagem ao espaço disponível, cortando se necessário, sem distorção */
    max-height: 100%; /* Garante que a imagem não ultrapasse a altura do contêiner */
}

.text-container h2 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.text-container p {
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}
