---
---

footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 0% 10px 0%;
  font-family: var(--font);
}

footer a {
  color: var(--text) !important;
}

footer a:hover {
  color: var(--primary) !important;
}

footer .icon {
  font-size: var(--xl);
}

.informacoesecreditos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0px 5% 0px 5%;
  gap: 10px;  
  align-items: center;
  width: 100%;
}
.logofooter{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  min-width: 33.3%;
}

.contatofooter{
  display: center; 
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  min-width: 33.3%;
  gap: 0px;
}

.linkscontatos{
  display: flex; 
  flex-direction: column;
  gap: 0px;
}
.iconenome {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.iconenome p {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
}

.linhafooter {
  border: none;
  border-top: 2px solid #000000;   
  width: 90%;                   
  margin: 0px auto;                  
}

.ImagemMaps{
  display: flex; 
  flex-direction: column; 
  align-items: center;
  height: 250px;
  min-width: 33.3%;
}

.TituloContato {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TituloContato p {
  font-size: 24px; 
  font-family: 'Open Sans', sans-serif; 
  font-weight: bold; 
  margin: 0; 
}