---
---

section#cadastre-um-novo-projeto {
    margin-top: -2rem;
}

form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    //border: 1px solid black;
    gap: 10px;
    width: auto;
    box-sizing: border-box;

}

input{
    font: 1em sans-serif;
    box-sizing: border-box;
}

textarea{
    font: 1em sans-serif
}

.buttonRow{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.enviarButton{
    background-color: #7A5CFA;
    color: white;
    border: solid;
}



.chip-container { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0.2em;
    max-width: auto;
} 

.chip { 
    display: flex; 
    align-items: center; 
    background-color: #f0f0f0; 
    border: 1px solid #ccc; 
    border-radius: 20px; 
    gap: 5px; 
    margin-top: 5px;
} 
  
.chipText{
    margin-left: 10px;
}
  
.close-icon { 
    cursor: pointer; 
    margin: 0px 8px; 
    font-weight: bold; 
    color: red; 
} 

.cancelarButton{
    color:#7A5CFA;
    background-color: #ffffff;
    border: solid #7A5CFA 1px;
}

.buttonRow > button {
    padding: 1rem;
    text-align: center;
    width: 18%;
    border-radius: 8px;
}

#form_fields{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
    width: 80%;
}

#form_fields > label {
    padding-top: 1em;
}

.labelName{
    display: flex;
    flex-direction: row;
    
}

.tituloForm{
    text-align: center;
}

#grupo, textarea{
    padding: 11px;
    border: solid 1px var(--light-gray);
    border-radius: var(--rounded);
    background: var(--background);
    box-shadow: var(--shadow);
}

//Snippet from = https://stackoverflow.com/questions/572768/styling-an-input-type-file-button

input[type=file]::file-selector-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 10px 15px;
    margin-right: 20px;
    transition: .5s;
}
  
input[type=file]::file-selector-button:hover {
    background-color: #eee;
    border: 0px;
    border-right: 1px solid #e5e5e5;
}

#filefoto{
    border: 1px solid var(--light-gray);
}