---
---

$logo-big: 80px; // Define a altura do logotipo grande (80px).
$logo: 40px; // Define a altura do logotipo padrão (40px).
$big-padding: 100px; // Define um espaçamento grande para padding (100px).
$collapse: 700px; // Define o ponto de colapso (700px) para a responsividade.
$sticky: true; // Define se o cabeçalho será fixo ou não.

// Estilo do header
header {
  display: flex;
  flex-direction: row; 
  background-color: var(--white); 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 50px; 
  font-family: var(--font);

  @if $sticky {
    position: sticky !important; 
    top: 0; 
    z-index: 10 !important; 
  }
}


header a {
  text-decoration: none; 
  font-size: 1rem; 
}


.home {
  display: flex; 
  align-items: center;
}


.logo {
  width: 6rem;
}


.nav-header {
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap; 
  gap: 30px; 
  font-family: var(--body); 
  text-transform: uppercase; 
}




#home.active::after,
#home:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--roxoprimary); /* Cor do hover e ativo para home */
  transition: all 0.3s ease;
}

#sobrenos.active::after,
#sobrenos:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--vermelhoprimary); /* Cor do hover e ativo para sobre nós */
  transition: all 0.3s ease;
}

#membros.active::after,
#membros:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--amareloprimary); /* Cor do hover e ativo para membros */
  transition: all 0.3s ease;
}

#noticias.active::after,
#noticias:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--roxosecondary); /* Cor do hover e ativo para notícias */
  transition: all 0.3s ease;
}

#publicacoes.active::after,
#publicacoes:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--vermelhosecondary); /* Cor do hover e ativo para projetos */
  transition: all 0.3s ease;
}

#projetos.active::after,
#projetos:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--amarelosecondary); /* Cor do hover e ativo para publicações */
  transition: all 0.3s ease;
}


.language-selector {
  position: relative;
  display: flex;
  gap:20px;
  border: 2px solid var(--roxoprimary);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.selected-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-language img {
  width: 20px;
  margin-right: 10px;
}

.selected-language .arrow-down {
  margin-left: auto;
  font-size: 20px;
}

.language-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.language-options li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.language-options li img {
  width: 20px;
  margin-right: 10px;
}

.language-options li:hover {
  background-color: var(--white);
}





.nav-header ul.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  flex-direction: row;
  gap: 30px;
  color: var(--text);
  align-items: center;

}


.nav-item > a {
  position: relative;
  color: var(--text);
  text-decoration: none; 
}

.mobile-menu {
  display: none;
}




.nav-header, .language-selector {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.language-selector {
  margin-left: 20px;
  cursor: pointer;
}

/* Estilos para telas menores que 1020px */
@media (max-width: 1020px) {
  .nav-header, .language-selector {
    display: none;
  }

  .mobile-menu {
    display: inline-block;
    cursor: pointer;
  }

  .mobile-menu .menu-icon {
    font-size: 30px;
    color: #333;
  }

  /* Quando o menu móvel estiver ativo */
  .nav-header.open{
    display: block; /* Exibe o menu e o seletor de idioma ao clicar no ícone */
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 250px;
    height: 100vh;
    padding: 50px;
  }

  .nav-header ul.nav-list {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start
    ;
  
  }

  .nav-list .nav-item a {
    font-size: 18px;
    color: var(--black);
    text-decoration: none;
  }

  .language-selector {
    margin-top: 20px;
  }

  /* Estilo para overlay quando o menu está ativo */
  .mobile-nav-active {
    overflow: hidden; /* Evita o scroll quando o menu móvel está aberto */
  }



  #home.active::after,
  #home:hover::after,
  #sobrenos.active::after,
  #sobrenos:hover::after,
  #membros.active::after,
  #membros:hover::after,
  #noticias.active::after,
  #noticias:hover::after,
  #publicacoes.active::after,
  #publicacoes:hover::after,
  #projetos.active::after,
  #projetos:hover::after {
    content: none; 
    
  }

  /* Aplica fundo colorido nos itens ativos ou ao passar o mouse */
  #home.active,
  #home:hover {
    background-color: var(--roxoprimary);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
    margin-left: -20px;
  }

  #sobrenos.active,
  #sobrenos:hover {
    background-color: var(--vermelhoprimary);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
    margin-left: -20px;
  }

  #membros.active,
  #membros:hover {
    background-color: var(--amareloprimary);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
    margin-left: -20px;
  }

  #noticias.active,
  #noticias:hover {
    background-color: var(--roxosecondary);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
    margin-left: -20px;
  }

  #publicacoes.active,
  #publicacoes:hover {
    background-color: var(--vermelhosecondary);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
    margin-left: -20px;
  }

  #projetos.active,
  #projetos:hover {
    background-color: var(--amarelosecondary);
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
    margin-left: -20px;
  }
}