---
---

$logo-big: 80px; // Define a altura do logotipo grande (80px).
$logo: 40px; // Define a altura do logotipo padrão (40px).
$big-padding: 100px; // Define um espaçamento grande para padding (100px).
$collapse: 700px; // Define o ponto de colapso (700px) para a responsividade.
$sticky: true; // Define se o cabeçalho será fixo ou não.

// Estilo do header
header {
  display: flex;
  flex-direction: row; 
  background-color: var(--white); 
  justify-content: space-between; 
  align-items: center; 
  padding: 20px 50px; 
  font-family: var(--font);

  @if $sticky {
    position: sticky !important; 
    top: 0; 
    z-index: 10 !important; 
  }
}


header a {
  text-decoration: none; 
  font-size: 1rem; 
}


.home {
  display: flex; 
  align-items: center;
}


.logo {
  width: 6rem;
}


.nav-header {
  display: flex; 
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap; 
  gap: 30px; 
  font-family: var(--body); 
  text-transform: uppercase; 
}


.nav-header > a {
  position: relative;
  color: var(--text);
  text-decoration: none; 
}

#home.active::after,
#home:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--roxoprimary); /* Cor do hover e ativo para home */
  transition: all 0.3s ease;
}

#sobrenos.active::after,
#sobrenos:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--vermelhoprimary); /* Cor do hover e ativo para sobre nós */
  transition: all 0.3s ease;
}

#membros.active::after,
#membros:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--amareloprimary); /* Cor do hover e ativo para membros */
  transition: all 0.3s ease;
}

#noticias.active::after,
#noticias:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--roxosecondary); /* Cor do hover e ativo para notícias */
  transition: all 0.3s ease;
}

#projetos.active::after,
#projetos:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--vermelhosecondary); /* Cor do hover e ativo para projetos */
  transition: all 0.3s ease;
}

#publicacoes.active::after,
#publicacoes:hover::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -50px;
  height: 3px;
  background-color: var(--amarelosecondary); /* Cor do hover e ativo para publicações */
  transition: all 0.3s ease;
}


.language-selector {
  position: relative;
  display: flex;
  gap:20px;
  border: 2px solid var(--roxoprimary);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.selected-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-language img {
  width: 20px;
  margin-right: 10px;
}

.selected-language .arrow-down {
  margin-left: auto;
  font-size: 20px;
}

.language-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.language-options li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.language-options li img {
  width: 20px;
  margin-right: 10px;
}

.language-options li:hover {
  background-color: var(--white);
}

