---
---

$logo-big: 80px; // Define a altura do logotipo grande (80px).
$logo: 40px; // Define a altura do logotipo padrão (40px).
$big-padding: 100px; // Define um espaçamento grande para padding (100px).
$collapse: 700px; // Define o ponto de colapso (700px) para a responsividade.
$sticky: true; // Define se o cabeçalho será fixo ou não.

// Estilo do header
header {
  display: flex; // O header será um contêiner flexível.
  flex-direction: row; // Os itens dentro do header serão exibidos em linha.
  justify-content: space-between; // Espaçamento igual entre os itens do header.
  align-items: center; // Os itens serão centralizados verticalmente.
  padding: 20px 50px; // Adiciona um espaçamento interno de 20px ao redor do header.
  background-color: var(--white); 

  @if $sticky {
    position: sticky !important; // Se $sticky for true, o header será fixo (pegajoso).
    top: 0; // Fixa o header no topo da página.
    z-index: 10 !important; // Dá uma prioridade alta na sobreposição de camadas.
  }
}

// Estilo dos links dentro do header
header a {
  color: #000000; // A cor dos links será preta.
  text-decoration: none; // Remove sublinhados dos links.
  font-size: 0.8rem; // O tamanho da fonte dos links será 24px.
}

// Estilo para a classe .home (logotipo e título)
.home {
  display: flex; // O contêiner .home será flexível.
  justify-content: flex-start; // Alinha o conteúdo à esquerda.
  align-items: center; // Alinha verticalmente ao centro.
}

// Estilo da classe .logo
.logo {
  width: 6rem;
}

// Estilo do menu de navegação (links)
.nav-header {
  display: flex; // O contêiner .nav-header será flexível.
  justify-content: center; // Alinha o conteúdo no centro.
  align-items: center; // Alinha verticalmente os itens no centro.
  flex-wrap: wrap; // Permite que os itens dentro do .nav-header quebrem para novas linhas se necessário.
  gap: 10px; // Define um espaçamento de 10px entre os itens.
  font-family: var(--heading); // Define a fonte como --heading (uma variável global).
  text-transform: uppercase; // Torna o texto dos links em letras maiúsculas.
}

// Estilo dos links dentro do .nav-header
.nav-header > a {
  padding: 5px; // Adiciona um espaçamento de 5px ao redor de cada link.
}

.nav-header > a:hover {
  color: var(--primary); // Muda a cor do texto ao passar o mouse (hover) para a cor primária definida.
}

// Estilo do botão de login
.login {
  background-color: #9747FF; // Define a cor de fundo roxa (#9747FF).
  border-radius: 10px; // Adiciona cantos arredondados com raio de 10px.
  padding: 10px 30px; // Define o espaçamento interno (padding) como 10px de altura e 30px de largura.
  font-size: 24px; // Tamanho da fonte do botão de login será 24px.
  color: white; 
}

// Estilo do seletor de idiomas
.language-selector {
  position: relative;
  display: flex;
  gap:20px;
  border: 2px solid var(--roxoprimary);
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.selected-language {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.selected-language img {
  width: 20px;
  margin-right: 10px;
}

.selected-language .arrow-down {
  margin-left: auto;
  font-size: 20px;
}

.language-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
}

.language-options li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.language-options li img {
  width: 20px;
  margin-right: 10px;
}

.language-options li:hover {
  background-color: var(--white);
}

