---
---
/* Primeira seção com imagem e texto */
.sectionConhecaMais {
  position: relative;
  padding: 0 10% 30px 10%;
  overflow: hidden; /* Para garantir que o triângulo não saia da seção */
}

.sectionConhecaMais::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--roxoprimary); /* Cor do triângulo */
  clip-path: polygon(100% 100%, 0 100%, 100% 75%);
  z-index: -1;
}

.conhecaMais {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  justify-content: center;
  align-items: center;
  text-align: left;

}


.text-block {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap:30px;
}
.text-block > h1{
  font-size: 3rem;
  margin: 0;
}
.text-block > p{
  font-size: 1rem;
  margin: 0;
}

.btn-primary{
  background-color: var(--amarelosecondary);
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
  color: var(--white);
  max-width: 160px;
  text-align: center;
  font-size: 1rem;
}

.image-block img {
  max-width: 90%;
  height: auto;
}


.titulosecaohome{
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

/* Carrossel */
.noticias {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}
.noticias h2{
  margin: 0;
}
.carouselNoticias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  width: 100%;
  overflow: hidden;
  position: relative; 

}

.carousel-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 50px;
  justify-content: center;
  min-width: 100%;
}


.carousel-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 50%;
}
.carousel-content > *{
  margin: 0;
}
.carousel-item img {
  max-height: 200px;
}

.btn-secondary{
  padding: 10px 20px;
  background-color: var(--amarelosecondary);
  text-align: center;
  text-decoration: none;
  color: var(--white);
  border-radius: 20px;
  max-width: 150px;
}
.swiper-pagination {
  display: block;
  position: absolute; 
  bottom: 10px; 
  width: 100%; 
  text-align: center; 
  z-index: 2;
}

.swiper-pagination-bullet {
  background-color: var(--gray); /* Cor padrão das bolinhas */
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin: 0 5px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background-color: var(--amarelosecondary); /* Cor das bolinhas ativas */
}


/* Seção de projetos */

.ultimosprojetos{
  display: flex;
  flex-direction: column;
  padding: 0 10%;
  gap:30px;
}
.cardsUltimosProjetos {
  display: flex;
  justify-content: space-between;
  gap: 20px;  
}

.cardUltimosProjetos {
  text-align: center;
  max-width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.cardUltimosProjetos img {
  max-width: 100%;
  height: auto;
}



.laboratorios{
  padding: 20px 10%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  position: relative;
  z-index: 1;
  }
  
.laboratorios::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--roxoprimary);
  opacity: 0.15; 
  z-index: -1; 
}
.cardslaboratorios {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.laboratorio-link{
  text-decoration: none;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;


}
.laboratorio-link > h3{
  text-decoration: none;
  color: var(--text);
  margin: 0;

}
.laboratorioimagem{
  background-color: var(--white);
  border-radius: 100%;
  overflow: hidden;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 10rem;
}
.laboratorioimagem img{
  padding: 20px;
  object-fit: fill;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 10rem;

}

.laboratorioimagemheader{
  background-color: var(--white);
  border-radius: 100%;
  
}
.laboratorioimagemheader img{
  border-radius: 50%;
  padding: 10px;
  object-fit: fill;
  min-width: 8rem;
  min-height: 8rem;
  max-width: 8rem;

}


.projetos{
  padding: 010%;
  display: flex;
  flex-direction: column;
}
.cardsProjetos{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.parcerias{
  padding: 20px 10% 50px 10%;
  display: flex;
  flex-direction: column;
  position: relative;
  gap:30px;
  z-index: 1;
  margin-bottom: -50px;
}

.parcerias::before {
content: '';
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: var(--roxoprimary);
opacity: 0.15; 
z-index: -1; 
}
.parcerias > h2{
  margin: 0;  
}
.logosparcerias {
  display: flex;
  flex-wrap: wrap; 
  gap: 40px; 
  justify-content: center; 
}

.logosparcerias img {
  flex: 1 1 calc(150px - 30px); 
  max-width: calc(150px - 30px); 
  height: auto;
}



@media (max-width: 768px) {
 


}

/* Estilos para celulares (largura máxima de 480px) */
@media (max-width: 480px) {
  .conhecaMais{
    flex-direction: column-reverse;
    gap:30px;
    align-items: center;
  }
  .text-block{
    max-width: 100%;
  }
  .btn-primary{
    align-self: flex-start;
  }

  .carousel-item{
    flex-direction: column;
    gap: 30px;
  }
  .carousel-content{
    max-width: 100%;
    align-items: center;
  }
  .carousel-content h2{
    max-width: 100%;
    align-self: flex-start;
  }

  .laboratorioimagem{
    min-width: 8rem;
    min-height: 8rem;
    max-width: 8rem;
  }
  .laboratorioimagem img{
    min-width: 8rem;
    min-height: 8rem;
    max-width: 8rem;
  }
  .cardslaboratorios {
    flex-direction: column;
    gap: 30px;
  }
  .cardsUltimosProjetos{
    flex-direction: column;
  }
  .cardUltimosProjetos{
    max-width: 100%;

  }
}