---
---

.post-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 40px;
  gap: 30px;
  color: var(--dark-gray);
}

.post-info .portrait {
  margin: 0;
}

.post-info .icon {
  margin-right: 0.5em;
}

.post-info a {
  color: inherit;
}

.post-info a:hover {
  color: var(--primary);
}

.post-info > span {
  text-align: center;
  white-space: nowrap;
}
