---
---
body {
      display: flex;
     
    
      min-height: 100vh;
      margin: 0;
      background-color: #ffffff;
    }
    /* Contêiner para a tabela */
    .centralizador {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    .tabela-dinamica {
     border: 1px solid #ccc;
      border-radius: 8px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: rgb(255, 255, 255);
      width: 799px;
      max-width: 799px;
    }

    .menu-opcoes {
      display: flex;
      width: 100%;
    }

    .menu-item {
      flex: 1;
      padding: 20px;
      text-align: center;
      cursor: pointer;
      border-right: 1px solid #ccc;
      background-color: white;
    }
  .menu-item:last-child{
    border-right: none;
  }
    .menu-item.item1.active {
      background-color: #7F5A90; 
      color: white;
    }
    .menu-item.item1:hover {
      background-color: #7F5A90; 
      color: white;
      transition: background-color 1.5s ease;
    }

    .menu-item.item2.active {
      background-color: #C93740;
      color: white; 
    }
    .menu-item.item2:hover {
      background-color: #C93740;
      color: white; 
      transition: background-color 1.5s ease;
    }
    .menu-item.item3.active {
      background-color: rgb(228, 156, 65);
      color: white; 
    }
    .menu-item.item3:hover {
      background-color: rgb(228, 156, 65);
      color: white;
      transition: background-color 1.5s ease;
    }
    .menu-item.item4.active {
      background-color: #1f4570; 
      color: white; 
    }
    .menu-item.item4:hover {
      background-color: #1f4570; 
      color: white;
      transition: background-color 1.5s ease;
    }
    .menu-item.item5.active {
      background-color: rgb(120, 123, 157); 
      color: white; 
    }
    .menu-item.item5:hover {
      background-color: rgb(120, 123, 157); 
      color: white; 
      transition: background-color 1.5s ease;
    }

   
    .conteudo {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      padding: 0 15px;
      background-color: #ffffff;
      margin-top: 10px;
      transition: opacity 2s ease;
    }

    .conteudo.active {
      max-height: fit-content; /* Define a altura máxima quando o conteúdo estiver visível */
      opacity: 1; /* Torna o conteúdo visível */
      padding: 15px;
    }
    .texto-centralizado {
      width: 800px; /* Ajuste a largura conforme necessário */
      margin: 0 auto; /* Centraliza o contêiner horizontalmente */
      text-align: left; /* Alinha o texto à esquerda */
      font-size: 18px; /* Tamanho de fonte confortável para leitura */
      line-height: 1.6; /* Espaçamento de linha para melhorar a legibilidade */
      padding: 20px; /* Espaçamento interno para um layout mais limpo */
    }
   
  

