<!DOCTYPE html>
<html lang="en">
  
  {% include head.html %}
  
  <body class=body-manager>
    
      <nav id="sidebar" class="sidebar">
        <div class="headersidebarenav">
          <div class="sidebar-header">
            <div class="sidebar-title">
              <h3 class="title-user">Administrador</h3>
              <button id="sidebarCollapse" class="button-sidebar">
                <i class="fa-solid fa-bars"></i>
              </button>
            </div>
            <p class="sidebar-email">lorem ipsum</p>
          </div>
          <ul class="nav-sidebar components">
            <li>
              <a href="/manager">
                <i class="fa-solid fa-house"></i>
                <span>Home</span>
              </a>
            </li>
            <li>
              <a href="/manager/membros">
                <i class="fa-solid fa-users"></i>
                <span>Membros</span>
              </a>
            </li>
            <li>
              <a href="/manager/projetos">
                <i class="fas fa-home"></i>
                <span>Projetos</span>
              </a>
            </li>
            <li>
              <a href="/manager/noticias">
                <i class="fa-solid fa-gear"></i>
                <span>Notícias</span>
              </a>
            </li>
            <li>
              <a href="/manager/publicacoes">
                <i class="fa-solid fa-address-card"></i>
                <span>Publicações</span>
              </a>
            </li>
            <li>
              <a href="/manager/config">
                <i class="fa-solid fa-gear"></i>
                <span>Configurações</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="sidebar-footer">
          <a class="iconetitlelogout" href="/"">
            <button class="button-logout">
              <i class="fa-solid fa-right-to-bracket"></i>
            </button>
            <h3 class="sidebar-logout">Sair</h3>
          </a>
        </div>
    </nav>


      <div id="content" class="content">

        <main id="main-manager" class="main-manager">
          
          {{ content }} <!-- Aqui entra o conteúdo da página -->
        </main>

      </div>

  </body>
</html>
