---
layout: default
---
{% assign image = page.image %}

<section class="headerPaginaNoticia">
  <h1 class="tituloPaginaNoticia">{{ page.title}}</h1>
  {%
    include post-info.html
    published=page.date
    tags=page.tags
  %}
    
</section>

<div class="DivImagemNoticia">
{% if image %}
    <img class="ImagemDaNoticia"
      src="{{ image | relative_url }}"
      alt="{{ title | default: "excerpt image" }}"
    >
{% endif %}
</div>

<div class="InformacoesDebaixoImagem">
  {{ content }}
</div>

<div class="TrocarNoticia">
  {% include post-nav.html post=page %}
</div>